{% extends "sitelayout/layout.html" %}
{% block content %}
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                <li><a href="products.html">Products</a> <span class="divider">/</span></li>
                <li class="active">product Details</li>
            </ul>
            <div class="row">
                <div class="span3" id="gallery">
                    <a title="Fujifilm FinePix S2950 Digital Camera" href="#">
                        <img alt="{{ company.name }}" height="100" width="150"
                             src="{{ MEDIA_URL }}{{ company.logo }}">
                    </a>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <span class="btn"><i class="icon-envelope"></i></span>
                            <span class="btn"><i class="icon-print"></i></span>
                            <span class="btn"><i class="icon-zoom-in"></i></span>
                            <span class="btn"><i class="icon-star"></i></span>
                            <span class="btn"><i class=" icon-thumbs-up"></i></span>
{#                            <span class="btn"><i class="icon-thumbs-down"></i></span>#}
                        </div>
                    </div>
                </div>
                <div class="span9">
                    <h3>{{ company.name }}</h3>
                    <hr class="soft clr">
                    <p>{{ company.description }}</p>
                    <a href="#detail" class="btn btn-small pull-right">More Details</a>
                    <br class="clr">
                    <a name="detail" href="#"></a>
                    <hr class="soft">
                </div>
            </div>
        </div>
        <div class="span12">
            {#            <div class="well well-small">#}
            <h4>{{ company.name }} cars </h4>
            <ul class="thumbnails">
                {% for list in carlist %}
                    <li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img alt="" src="themes/images/products/6.jpg"></a>

                            <div class="caption">
                                <h5>{{ list.name }}</h5>

                                <p>
                                    Lorem Ipsum is simply dummy text.
                                </p>

                                <h4 style="text-align:center"><a href="product_details.html" class="btn"> <i
                                        class="icon-zoom-in"></i></a> <a href="#" class="btn">Add to <i
                                        class="icon-shopping-cart"></i></a> <a href="#"
                                                                               class="btn btn-primary">$222.00</a></h4>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {#            </div>#}
        </div>
    </div>
{% endblock %}
