{% extends "sitelayout/layout.html" %}
{% block content %}
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a> <span class="divider">/</span></li>
                <li>
                    <a href="{% url 'company' %}?company_id={{ variant.car.company.id }}">{{ variant.car.company.name }}</a> <span
                        class="divider">/</span></li>
                <li><a href="{% url 'car' %}?car_id={{ variant.car.id }}">{{ variant.car.name }}</a> <span
                        class="divider">/</span></li>
                <li class="active">{{ variant.car.company.name }}&nbsp;{{ variant.car.name }}&nbsp;{{ variant.name }}</li>
            </ul>
            <div class="row">
                <div class="span3" id="gallery">
                    <a title="{{ variant.car.logo }}" href="#">
                        <img alt="{{ variant.car.name }}" height="200" width="300"
                             src="{{ MEDIA_URL }}{{ variant.car.logo }}">
                    </a>

                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <span class="btn"><i class="icon-envelope"></i></span>
                            <span class="btn"><i class="icon-print"></i></span>
                            <span class="btn"><i class="icon-zoom-in"></i></span>
                            <span class="btn"><i class="icon-star"></i></span>
                            <span class="btn"><i class=" icon-thumbs-up"></i></span>
                            {#                            <span class="btn"><i class="icon-thumbs-down"></i></span>#}
                        </div>
                    </div>
                </div>
                <div class="span9">
                    <h3>{{ variant.car.company.name }}&nbsp;{{ variant.car.name }}&nbsp;{{ variant.name }}</h3>
                    <hr class="soft clr">
                    <h5>{{ variant.car.company.name }}&nbsp;{{ variant.car.name }}&nbsp;{{ variant.name }}&nbsp;price:&nbsp;&#8377;&nbsp;{{ variant.cost }}</h5>
                    <hr class="soft clr">
                    {% if  variant.description %}
                        <p>{{ variant.description }}</p>
                        <a href="#detail" class="btn btn-small pull-right">More Details</a>
                        <br class="clr">
                    {% endif %}
                </div>
                <div class="span9">
                    <ul class="nav nav-tabs" id="productDetail">
                        <li class="active"><a data-toggle="tab" href="#details">Full Details</a></li>
                        <li class=""><a data-toggle="tab" href="#price">Price</a></li>
                        <li class=""><a data-toggle="tab" href="#specifications">Specifications</a></li>
                        <li class=""><a data-toggle="tab" href="#reviews">Reviews</a></li>
                        <li class=""><a data-toggle="tab" href="#pictures">Pictures</a></li>
                        <li class=""><a data-toggle="tab" href="#dealers">Dealers</a></li>
                        <li class=""><a data-toggle="tab" href="#mileage">Mileage</a></li>
                        <li class=""><a data-toggle="tab" href="#loan">Apply for loan</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div id="details" class="tab-pane fade active in">
                            <h4>Features</h4>
                            <table class="table table-bordered">
                                <tbody>
                                <tr class="techSpecRow">
                                    <th colspan="2">Interior Features</th>
                                </tr>
                                {% load verbose_names %}
                                {% for key, value in interiorfeatures_dict.items %}
                                    <tr class="techSpecRow">

                                        <td class="techSpecTD1">
                                            {% get_verbose_field_name interiorfeatures key %}
                                        </td>
                                        <td class="techSpecTD2">
                                            {{  value|yesno:"<span class='badge badge-success'>&#10003;</span>,<span class='badge badge-important'>&#x2716;</span>"|safe }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <tbody>
                                <tr class="techSpecRow">
                                    <th colspan="2">Exterior Features</th>
                                </tr>
                                {% for key, value in exteriorfeatures_dict.items %}
                                    <tr class="techSpecRow">

                                        <td class="techSpecTD1">
                                            {% get_verbose_field_name exteriorfeatures key %}
                                        </td>
                                        <td class="techSpecTD2">
                                            {{  value|yesno:"<span class='badge badge-success'>&#10003;</span>,<span class='badge badge-important'>&#x2716;</span>"|safe }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <tbody>
                                <tr class="techSpecRow">
                                    <th colspan="2">Safety Features</th>
                                </tr>
                                {% for key, value in safetyfeatures_dict.items %}
                                    <tr class="techSpecRow">

                                        <td class="techSpecTD1">
                                            {% get_verbose_field_name safetyfeatures key %}
                                        </td>
                                        <td class="techSpecTD2">
                                            {{  value|yesno:"<span class='badge badge-success'>&#10003;</span>,<span class='badge badge-important'>&#x2716;</span>"|safe }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div id="price" class="tab-pane fade">
                        </div>
                        <div id="specifications" class="tab-pane fade">
                        </div>
                        <div id="reviews" class="tab-pane fade">
                        </div>
                        <div id="pictures" class="tab-pane fade">
                        </div>
                        <div id="dealers" class="tab-pane fade">
                        </div>
                        <div id="mileage" class="tab-pane fade">
                        </div>
                        <div id="loan" class="tab-pane fade">
                        </div>
                    </div>
                    <br class="clr">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
{% endblock %}