{% extends "sitelayout/layout.html" %}
{% block content %}
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a> <span class="divider">/</span></li>
                <li>
                    <a href="{% url 'company' %}?company_id={{ variant.car.company.id }}">{{ variant.car.company.name }}</a> <span
                        class="divider">/</span></li>
                <li><a href="{% url 'car' %}?car_id={{ variant.car.id }}">{{ variant.car.name }}</a> <span
                        class="divider">/</span></li>
                <li class="active">{{ variant.car.company.name }}&nbsp;{{ variant.car.name }}&nbsp;{{ variant.name }}</li>
            </ul>
            <div class="row">
                <div class="span3" id="gallery">
                    <a title="{{ variant.car.logo }}" href="#">
                        <img alt="{{ variant.car.name }}" height="200" width="300"
                             src="{{ MEDIA_URL }}{{ variant.car.logo }}">
                    </a>

                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <span class="btn"><i class="icon-envelope"></i></span>
                            <span class="btn"><i class="icon-print"></i></span>
                            <span class="btn"><i class="icon-zoom-in"></i></span>
                            <span class="btn"><i class="icon-star"></i></span>
                            <span class="btn"><i class=" icon-thumbs-up"></i></span>
                            {#                            <span class="btn"><i class="icon-thumbs-down"></i></span>#}
                        </div>
                    </div>
                </div>
                <div class="span9">
                    <h3>{{ variant.car.company.name }}&nbsp;{{ variant.car.name }}&nbsp;{{ variant.name }}</h3>
                    <hr class="soft clr">
                    <h5>{{ variant.car.company.name }}&nbsp;{{ variant.car.name }}&nbsp;{{ variant.name }}&nbsp;price:&nbsp;&#8377;&nbsp;{{ variant.cost }}</h5>
                    <hr class="soft clr">
                    {% if  variant.description %}
                        <p>{{ variant.description }}</p>
                        <a href="#detail" class="btn btn-small pull-right">More Details</a>
                        <br class="clr">
                    {% endif %}
                </div>
                <div class="span9">
                    <ul class="nav nav-tabs" id="productDetail">
                        <li class="active"><a data-toggle="tab" href="#details">Full Details</a></li>
                        <li class=""><a data-toggle="tab" href="#price">Price</a></li>
                        <li class=""><a data-toggle="tab" href="#specifications">Specification</a></li>
                        <li class=""><a data-toggle="tab" href="#reviews">Reviews</a></li>
                        <li class=""><a data-toggle="tab" href="#pictures">Pictures</a></li>
                        <li class=""><a data-toggle="tab" href="#dealers">Dealers</a></li>
                        <li class=""><a data-toggle="tab" href="#mileage">Mileage</a></li>
                        <li class=""><a data-toggle="tab" href="#loan">Apply for loan</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div id="details" class="tab-pane fade active in">
                            <h4>Features</h4>
                            <table class="table table-bordered">
                                <tbody>
                                <tr class="techSpecRow">
                                    <th colspan="2">Interior Features</th>
                                </tr>
                                {% load verbose_names %}
                                {% for key, value in interiorfeatures_dict.items %}
                                    <tr class="techSpecRow">

                                        <td class="techSpecTD1">
                                            {% get_verbose_field_name interiorfeatures key %}
                                        </td>
                                        <td class="techSpecTD2">
                                            {{ value|yesno:"<span class='badge badge-success'>&#10003;</span>,<span class='badge badge-important'>&#x2716;</span>"|safe }}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr class="techSpecRow">
                                        <td class="techSpecTD1">
                                            No interior features to display
                                        </td>
                                        <td class="techSpecTD2">
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <tbody>
                                <tr class="techSpecRow">
                                    <th colspan="2">Exterior Features</th>
                                </tr>
                                {% for key, value in exteriorfeatures_dict.items %}
                                    <tr class="techSpecRow">

                                        <td class="techSpecTD1">
                                            {% get_verbose_field_name exteriorfeatures key %}
                                        </td>
                                        <td class="techSpecTD2">
                                            {{ value|yesno:"<span class='badge badge-success'>&#10003;</span>,<span class='badge badge-important'>&#x2716;</span>"|safe }}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr class="techSpecRow">
                                        <td class="techSpecTD1">
                                            No exterior features to display
                                        </td>
                                        <td class="techSpecTD2">
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <tbody>
                                <tr class="techSpecRow">
                                    <th colspan="2">Safety Features</th>
                                </tr>
                                {% for key, value in safetyfeatures_dict.items %}
                                    <tr class="techSpecRow">

                                        <td class="techSpecTD1">
                                            {% get_verbose_field_name safetyfeatures key %}
                                        </td>
                                        <td class="techSpecTD2">
                                            {{ value|yesno:"<span class='badge badge-success'>&#10003;</span>,<span class='badge badge-important'>&#x2716;</span>"|safe }}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr class="techSpecRow">
                                        <td class="techSpecTD1">
                                            No safety features to display
                                        </td>
                                        <td class="techSpecTD2">
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <h4>{{ variant.car.name }} other variants</h4>
                            <table class="table table-bordered">
                                <thead>
                                <tr id="variant_" class="editvariant">
                                    <th>Name</th>
                                    <th>Mileage</th>
                                    <th>Engine</th>
                                    <th>Starting Price</th>
                                    <th>Starting Emi</th>
                                    <th>On road price</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for list in petrol_variants %}
                                    <tr>
                                        <td>{{ list.name }}</td>
                                        <td>{% firstof list.mileage.get.mileage_overall '--' %}</td>
                                        <td>{% firstof list.engine.get.displacement '--' %}</td>
                                        <td>{% firstof list.price.get.showroom_price '--' %}</td>
                                        <td>{% firstof list.price.get.emi '--' %}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                {% for list in diesel_variants %}
                                    <tr class="editvariant" id="variant_{{ list.id }}">
                                        <td>{{ list.name }}</td>
                                        <td>{% firstof list.mileage.get.mileage_overall '--' %}</td>
                                        <td>{% firstof list.engine.get.displacement '--' %}</td>
                                        <td>{% firstof list.price.get.showroom_price '--' %}</td>
                                        <td>{% firstof list.price.get.emi '--' %}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <h4>{{ variant.car.name }} specifications</h4>
                            <table class="table table-striped table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th colspan="3">Dimensions</th>
                                </tr>
                                <tr>
                                    <th>#</th>
                                    <th>Length</th>
                                    <th>Width</th>
                                    <th>Height</th>
                                    <th>Wheelbase</th>
                                    <th>Bootspace</th>
                                    <th>kerbweight</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>#</td>
                                    <td>{% firstof variant.dimensions.get.length '--' %}</td>
                                    <td>{% firstof variant.dimensions.get.width '--' %}</td>
                                    <td>{% firstof variant.dimensions.get.height '--' %}</td>
                                    <td>{% firstof variant.dimensions.get.wheelbase '--' %}</td>
                                    <td>{% firstof variant.dimensions.get.bootspace '--' %}</td>
                                    <td>{% firstof variant.dimensions.get.kerbweight '--' %}</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th colspan="3">Engine</th>
                                </tr>
                                <tr>
                                    <th>#</th>
                                    <th>Torque</th>
                                    <th>Dispalcement</th>
                                    <th>Power</th>
                                    <th>Cylinders</th>
                                    <th>Valves per cylinder</th>
                                    <th>Valve mechanism</th>
                                    <th>Cyclinder configuration</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>#</td>
                                    <td>{% firstof variant.engine.get.torque '--' %}</td>
                                    <td>{% firstof variant.engine.get.displacement '--' %}</td>
                                    <td>{% firstof variant.engine.get.power '--' %}</td>
                                    <td>{% firstof variant.engine.get.cylinders '--' %}</td>
                                    <td>{% firstof variant.engine.get.valvespercylinder '--' %}</td>
                                    <td>{% firstof variant.engine.get.valvemechanism '--' %}</td>
                                    <td>{% firstof variant.engine.get.cylinderconfiguration '--' %}</td>
                                </tr>
                                </tbody>
                            </table>
                            <h5>
                                <span class="label label-info" id="myTabs">View detailed specifications</span>
                            </h5>
                        </div>
                        <div id="price" class="tab-pane fade">
                        </div>
                        <div id="specifications" class="tab-pane fade">
                            <ul class="nav nav-tabs" id="productDetail">
                                <li class="active"><a data-toggle="tab" href="#technical_specifications">Technical
                                    specifications</a></li>
                                <li class=""><a data-toggle="tab" href="#features">Features</a></li>
                                <li class=""><a data-toggle="tab" href="#colors">Colors</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="technical_specifications" class="tab-pane fade active in">
                                    {% include 'partials/variants/technical_specifications.html' %}
                                </div>
                                <div id="features" class="tab-pane fade">
                                </div>
                                <div id="colors" class="tab-pane fade">
                                </div>
                            </div>
                        </div>
                        <div id="reviews" class="tab-pane fade">
                        </div>
                        <div id="pictures" class="tab-pane fade">
                        </div>
                        <div id="dealers" class="tab-pane fade">
                        </div>
                        <div id="mileage" class="tab-pane fade">
                        </div>
                        <div id="loan" class="tab-pane fade">
                        </div>
                    </div>
                    <br class="clr">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.editvariant').click(function () {
                var id = $(this).attr('id');
                var splitElements = id.split("_");
                var variantId = splitElements[1];
                window.location.href = '/variant?variant_id=' + variantId;
            });
            $('#myTabs').click(function () {
                $('a[href="#specifications"]').tab('show');
            });
        });
    </script>
{% endblock %}