<div class="modal fade" id="adddimensions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add dimensions</h4>
            </div>
            <form method="post" action='/general/adddimensions' id='add_dimensions_form'>
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name='variant' value='{{ variant.id }}'>

                    <div class="form-group">
                        <label> {{ dimensionsform.length.label }}</label>
                        {{ dimensionsform.length }}
                    </div>
                    <div class="form-group">
                        <label> {{ dimensionsform.width.label }}</label>
                        {{ dimensionsform.width }}
                    </div>
                    <div class="form-group">
                        <label> {{ dimensionsform.height.label }}</label>
                        {{ dimensionsform.height }}
                    </div>
                    <div class="form-group">
                        <label> {{ dimensionsform.wheelbase.label }}</label>
                        {{ dimensionsform.wheelbase }}
                    </div>
                    <div class="form-group">
                        <label> {{ dimensionsform.bootspace.label }}</label>
                        {{ dimensionsform.bootspace }}
                    </div>
                    <div class="form-group">
                        <label>  {{ dimensionsform.kerbweight.label }}</label>
                        {{ dimensionsform.kerbweight }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" name='dimensionsubmit' value='Save'>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#add_dimensions_form").validate({
            rules: {
                length: "required",
                width: "required",
                height: "required",

            },
            messages: {
                length: "<div class='text-danger'>Enter your length</div>",
                width: "<div class='text-danger'>Enter your width</div>",
                height: "<div class='text-danger'>Enter your height</div>",
            }
        });
    });
</script>