<div class="modal fade" id="addengine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Engine specifications</h4>
            </div>
            <form method="post" action='/general/addengine' id='add_engine_form'>
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name='variant' value='{{ variant.id }}'>

                    <div class="form-group">
                        <label> {{ engineform.torque.label }}</label>
                        {{ engineform.torque }}
                    </div>
                    <div class="form-group">
                        <label> {{ engineform.displacement.label }}</label>
                        {{ engineform.displacement }}
                    </div>
                    <div class="form-group">
                        <label> {{ engineform.power.label }}</label>
                        {{ engineform.power }}
                    </div>
                    <div class="form-group">
                        <label> {{ engineform.cylinders.label }}</label>
                        {{ engineform.cylinders }}
                    </div>
                    <div class="form-group">
                        <label> {{ engineform.valvespercylinder.label }}</label>
                        {{ engineform.valvespercylinder }}
                    </div>
                    <div class="form-group">
                        <label> {{ engineform.valvemechanism.label }}</label>
                        {{ engineform.valvemechanism }}
                    </div>
                    <div class="form-group">
                        <label> {{ engineform.cylinderconfiguration.label }}</label>
                        {{ engineform.cylinderconfiguration }}
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" name='dimensionsubmit' value='Save'>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#add_dimensions_form").validate({
            rules: {
                length: "required",
                width: "required",
                height: "required",

            },
            messages: {
                length: "<div class='text-danger'>Enter your length</div>",
                width: "<div class='text-danger'>Enter your width</div>",
                height: "<div class='text-danger'>Enter your height</div>",
            }
        });
    });
</script>