 <input type="hidden" name='variant_id' value='{{variant_id}}'>
                                            {{form.length.label}}{{form.length}}
                                            {{form.width.label}}{{form.width}}
                                            {{form.height.label}}{{form.height}}
                                            {{form.wheelbase.label}}{{form.wheelbase}}
                                            {{form.bootspace.label}}{{form.bootspace}}
                                            {{form.kerbweight.label}}{{form.kerbweight}}