<input type="hidden" name='variant_id' value='{{ variant_id }}'>

<div class="form-group">
    <label> {{ form.torque.label }}</label>
    {{ form.torque }}
</div>
<div class="form-group">
    <label> {{ form.displacement.label }}</label>
    {{ form.displacement }}
</div>
<div class="form-group">
    <label> {{ form.power.label }}</label>
    {{ form.power }}
</div>
<div class="form-group">
    <label> {{ form.cylinders.label }}</label>
    {{ form.cylinders }}
</div>
<div class="form-group">
    <label> {{ form.valvespercylinder.label }}</label>
    {{ form.valvespercylinder }}
</div>
<div class="form-group">
    <label> {{ form.valvemechanism.label }}</label>
    {{ form.valvemechanism }}
</div>
<div class="form-group">
    <label> {{ form.cylinderconfiguration.label }}</label>
    {{ form.cylinderconfiguration }}
</div>